#sketch-container, canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

main {
  max-width: min(90vw, 800px);
}

#title-banner {
  width: 100%;
  margin: 20px 0px;
}

#nav-button-container {
  width: 100%;
  margin: 5vh 0px;
}

.nav-button-link {
  width: 75%;
}

@media (min-width: 992px) {
  .nav-button-link {
    width: 25%;
  }
}

.image-button {
  width: 100%;
}

