#sketch-container, canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

main {
  max-width: min(90vw, 800px);
  /*background: #2f4a63;*/
}

.figure-img {
  max-height: 80vh;
}

.figure-caption {
  color: #ffffff;
  background-color: #2f4a63;
  font-size: 1.2rem;
  text-align: center;
}

